h1.about-page-title,
h3.about-page-sub {
   font-family: "Sansita One";
}
.about-page-text {
    text-align: left !important;
    font-family: "Sansita One";
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.70);
}



.mainheading h1.site_title {
    font-family: Galada;
}

.logo_name_description {
    font-family: Galada;

}

.footer-text {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    text-align: center !important;

}
