<section class="text-center">
    {{ with .Site.Params.social.youtube }}
    <a href="https://www.youtube.com/channel/{{.}}"><i class="fab fa-youtube-square social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.pinterest }}
    <a href="https://www.pinterest.ie/{{.}}"><i class="fab fa-pinterest-square social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.twitter }}
    <a href="https://twitter.com/@{{.}}"><i class="fab fa-twitter-square social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.instagram }}
    <a href="https://www.instagram.com/{{.}}"><i class="fab fa-instagram social-icon" aria-hidden="true"></i></a>
    {{ end }}
</section>
